<% layout('layouts/boilerplate') %>
    <head>
        <title>About Us</title>
        <link rel="stylesheet" type="text/css" href="/css/home.css"></link>
    </head>
    <body>
        <center>
        <div class="container" style="align-self: center;">
            <div class="card text-white bg-dark mb-3" style="max-width: 35rem; text-align-last: center;">
                <div class="card-header">
                    About Us
                </div>
                <div class="card-body">
                    <h5 class="card-title">Portal Features</h5>
                    <p class="card-text">This is an Alumni Portal build to facilitate communication 
                        between Alumni and Colleges on a broader level. 
                        The portal is available for multiple Colleges and their respective Alumni.
                        College can register for their account and get features including adding 
                        events & notices, verifying the alumnus, creating their groups.
                        Alumnus can register by choosing the college they graduated from and get features like interacting 
                        with batchmates & college authorities, attending events, locating their batchmates.
                    </p>
                    <a href="/" class="btn btn-secondary">Go Back</a>
                </div>
            </div>
        </center>
    </body>