
<% layout('layouts/boilerplate') %>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">

    <script>
        $(document).ready(function () {
            $('#birth-date').mask('00/00/0000');
            $('#phone-number').mask('0000-0000');
        })
    </script>

</head>

<body class="d-flex flex-column vh-100" style="background: #99a8b3;">

    <div class="registration-form" style="padding: 75px;">
        <form action="/login" method="POST" method="POST" class="needs-validation" novalidate>
            <div class="form-icon">
                <span><i class="icon icon-user"></i></span>
            </div>
            <h5 style="text-align: center; font-size: 35px;">Login to your account !</h5>
            <div class="form-group mt-4">
                <input type="text" class="form-control item" id="username" placeholder="Email" name="username" required>
                <div class="valid-feedback mb-2">
                    Looks good!
                </div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control item" id="password" placeholder="Password" name="password" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            
            <hr>
            <div class="form-group" style="margin-top: 30px;">
                <button type="submit" class="btn btn-block create-account">Next</button>
            </div>
        </form>
        
    </div>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();
        </script>

</body>